streamlit
numpy
pandas
PyPDF2
rouge-score
openai>=1.0.0
python-Levenshtein
ghostscript
requests
anthropic
google-generativeai
representational-analysis
matplotlib
torch>=2.1.0
transformers
scikit-learn
representational-analysis
accelerate