streamlit
numpy
pandas
PyPDF2
rouge-score
openai>=1.0.0
python-Levenshtein
ghostscript
requests
anthropic
google-generativeai
matplotlib
torch>=2.1.0
transformers>=4.36.0
scikit-learn
accelerate
datasets
tqdm
fpdf